// src/widgets/news/ui/NewsSection.scss
.news-section {
  padding: 4rem 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__all-btn {
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    border: 0;
    border-radius: 0.375rem;
    color: #4b5563;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;


    &:hover {
      background-color: #f9fafb;
      color: #1f2937;
    }
  }
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
}

.news-card {
  display: block;
  gap: 1.5rem;
  background: white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  &__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: 0 -50px;
  }

  &__content {
    padding: 1.5rem;
    flex: 1;
  }

  &__date {
    font-size: 0.875rem;
    color: #6b7280;
    margin-bottom: 0.5rem;
    display: block;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
  }

  &__description {
    color: #6b7280;
    margin-bottom: 1rem;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;

  }

  &__link {
    color: #b91c1c;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}