// src/widgets/header/ui/Header.scss
.logoImg{
  width: 50px;
}
.header {
  padding: 1rem 0;
  border-bottom: 1px solid #e5e7eb;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;


    &-text {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  &__nav {
    &-list {
      display: flex;
      list-style: none;
      gap: 2rem;
    }

    &-link {
      text-decoration: none;
      color: #4b5563;
      font-weight: 500;
      transition: color 0.2s;

      &:hover {
        color: #b91c1c;
      }
    }
  }
}